.title-container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid #e4e4e4;
  min-height: 69px;
  box-sizing: border-box;
}
.title-container h3 {
  margin: 0;
}
.title-start {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-end-icon {
  align-self: flex-end;
}
