.inbox-container {
  display: flex;
  /* gap: 15px; */
  height: 100vh;
}

.main-container {
  width: 480px;
  min-width: 360px;
  border-right: 1px solid #e4e4e4;
  height: 100%;
}

.conv-list-container {
  overflow-y: auto;
  max-height: calc(100vh - 69px);
  box-sizing: border-box;
}
