/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/auth/auth.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.box-container h1 {
  font-size: 1.1rem;
  font-weight: 500;
}
.box-container a {
  color: rgb(var(--background-rgb));
}
body {
  background: rgb(var(--background-rgb));
}
form {
  width: 100%;
}
